/*Design by Waqas Butt*/
/*simple black css - type 1*/
/*date: 14 july 2013*/
/*http://flambons.com*/

body {background:#333;margin:0;padding:1px 0;color:#bbb}
#header {margin:5px;padding:1px 0 0 0;background:url(/files/simple_black/koe2.png)bottom right no-repeat,url(/files/simple_black/koe3.png)top right no-repeat,url(/files/simple_black/koe4.png)top left no-repeat,#000;text-align:center}
.heading {margin:5px;padding:5px;font-size:small}
.description {margin:0;padding:7px 5px 15px 5px;font-size:small}
#navigation {text-align:center;margin:0;padding:0;background:}
#navigation span {width:32%;display:inline-block;padding:6px 0;text-align:center;margin:0 -1px 0 0;}
#navigation span+span+span a {content:"Down"}
#top-content {text-align:center;margin:0;padding:6px 0;background:url(/files/simple_black/koe5.png)repeat-x top,url(/files/simple_black/koe6.png)repeat-x bottom,#444;border:1px solid #666;border-width:1px 0}
#search-form [type=text] { width:60%;background:#777;margin:1px;padding:4px;color:#333;border:none}
#search-form [type=submit] {;width:25%;margin:1px;padding:4px;border:none;color:#ffe;background:#000}
#navigation span a {color:#31c200}
#navigation span+span a {color:#c40000}
#navigation span+span+span a {color:#c4c200}
.post-single,.post,#blogroll,#navigation-menu,#category-bottom,#comments {background:url(/files/simple_black/koe7.png)bottom right no-repeat,url(/files/simple_black/koe4.png)top left no-repeat,#000;width:100%;margin:10px auto 20px;position:relative;padding-top:10px } 
.post-single:after,.post-single:before,#blogroll:after,#navigation-menu:after,#category-bottom:after,#comments:after,#blogroll:before,#navigation-menu:before,#category-bottom:before,#comments:before,.post:before,.post:after{content:"";position:absolute;top:6px;left:6px;width:100%;height:100%;background:#222;z-index:-1}
#content,#bottom-content {padding:0 10px 0 5px}
.post-meta .title,.categories {margin:0;padding:2px 0;font-size:small}
#recent-posts-list h4,#following-list h4,.post-meta,h3 {margin:0 0 0 9px;padding:5px;background:url(/files/simple_black/koe8.png)top left no-repeat,#222;color:#777}
.post-content {margin:0;padding:9px 5px}
.post-meta2 {margin:0;padding:5px 5px 8px 5px;}
.post-meta2 a {background:#940000;color:#ccc;margin:0;padding:3px 5px}
.thumbnail{border:1px solid #666 !important;margin:2px 2px 0 0 !important;width:50px !important;height:60px !important;padding:1px !important}
#pagination-links{text-align:center;padding:3px 0;margin:0;}
#pagination-links span{;margin:0;padding:7px 5px;float:left;color:#eee;background:#900}
#pagination-links a:last-child{margin:2px 0;padding:7px 5px;float:right;color:#eee;background:#900}
#pagination-links a{padding:7px 1px;margin:2px 0;display:inline-block;}
#recent-posts-list h4,#following-list h4,h3 {padding:8px !important;color:#eee !important}
ul,ol {margin:0 0 0 9px;padding:0}
#category-bottom li,#navigation-menu li {list-style:none;margin:0;padding:5px;border-bottom:1px dashed #333}
#category-bottom li {text-align:right}
#category-bottom li a {float:left}
#following-list li,#blogroll_list li,#recent-posts-list li,.post-content li,#blogroll li {list-style:url(/files/simple_black/akatsuki3.png) inside;margin:0;padding:4px;border-bottom:1px dashed #333}
#footer {margin:0;padding:5px;text-align:center}
h6 {margin:0;padding:0}
#footer:after {content:"Designed By Waqas Butt" !important;margin:-5px;padding:5px;display:block !important;font-size:small !important;background:url(/files/simple_black/koe5.png)repeat-x top,url(/files/simple_black/koe6.png)repeat-x bottom,#444;border:1px solid #666;border-width:1px 0}
#share-buttons {margin:0;padding:3px;text-align:center}
#share-buttons a {display:inline-table;width:35%}
#share-buttons img {width:20px;height:18px}
.comment {margin:0;padding:0;border-bottom:1px dotted #222}
.comment-header {margin:0;padding:3px;color:#888}
.comment-content {margin:0;padding:7px 3px}
.comment-header .title {margin:0;padding:0}
.comment .title:before {content: url(/files/simple_black/akatsuki3.png);float:left;margin-right:3px}
#comments h4,#comments h5 {margin:0;padding:3px}
.comment h5 {padding:0 !important}
#comment_form{text-align:left;margin:0;padding:5px}
#comment_form textarea{width:80%;margin:2px 0;padding:15px 0;background:#222;border:none;color:#ccc}
#comment_form input[type=text],.mobile_body
#comment_form select{width:50%;margin:2px 0;padding:3px;background:#222;border:none;color:#ccc}
#comment_form [type=submit] {margin:2px 0;padding:3px;background:#900;border:none;color:#ccc}
body img {max-width:80%;max-height:80%}
.post-single .post-content textarea {width:70px;height:70px;padding:0;margin:0}
.post-content,.comment-content {word-wrap:break-word}
#footer h6:before {content:"fmb_" !important;display:inline !important}
.post-meta .title,a {color:#c00}
h3 a,h4 a {color:#eee}
#recent-posts-list li:last-child,#navigation-menu li.last,#blogroll li.last,#category-bottom li.last {border-bottom:none !important}